{% extends "base.html" %}


{% block content %}

    {% if employee_detail %}
        <b><p class="text-dark">Dear, {{request.user.username}}</p></b>
    {% endif %}

    {% if leavetime_report %}
        <p class="text-danger">{{leavetime_report}}</p>
    {% endif %}

    {% if leavetime_report_success %}
        <p class="text-success">{{leavetime_report_success}}</p>
    {% endif %}

    <a class="btn btn-primary" href="{% url 'Home_Page' %}" role="button">Go Back to Home Page</a>
    
{% endblock content %}
