{% extends "base.html" %}

{% block content %}
<style>
    body, html {
        height: 100%;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>

<div class="container">
<div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter the Password and Confirm Password to Reset your password.
        </p>

        <form method="POST">
            {% csrf_token %}
            <div class="form-outline">
                <input type="password" id="password" class="form-control my-3" name="password" label="Password"/>
                
                <input type="password" id="confirm_password" class="form-control my-3" name="confirm_password" label="Confirm Password"/>
                <input type="checkbox" onclick="ShowPasswordFunction()">Show Password

            </div>
            <button class="btn btn-primary w-100" type="submit">Reset password</button>
        </form>

        {% comment %} {% if messages %}
            <ul class="text-primary">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %} {% endcomment %}


        <div class="d-flex justify-content-between mt-4">
            <a class="" href="{% url 'Login' %}">Login</a>
            <a class="" href="{% url 'Register' %}">Register</a>
        </div>
    </div>
</div>
</div>


<script>

    function ShowPasswordFunction() {
      var x = document.getElementById("password");
      var y = document.getElementById("confirm_password");
      if (x.type === "password") {
        x.type = "text";
        y.type = "text";
      } 
      else {
        x.type = "password";
        y.type = "password";
      }
    }

</script>

{% endblock content %}