{% extends "base.html" %}

{% block content %}

<div class="card">
    <div class="card-header">
      Password Reset Mail
    </div>
    <div class="card-body">
      <h5 class="card-title">Mail has been sent</h5>
      <p class="card-text">An email has been sent to the given registered mail please check your mail</p>
      <a href="{% url 'Home_Page' %}" class="btn btn-primary">Go back to Home</a>
    </div>

    {% comment %} {% if messages %}
            <ul class="text-primary">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
    {% endif %} {% endcomment %}
  </div>

{% endblock content %}